# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Ignore the flutter web app directory
web/app

# Directory created by dartdoc
doc/api/

# Passwords file
config/passwords.yaml

# Firebase services account key for Firebase auth
config/firebase_service_account_key.json
config/google_services.json

.env
cine_pass_server/.serverpod
cine_pass_server/.packages
*.log

cine_pass_server/lib/src/generated/
cine_pass_server/.dart_tool
cine_pass_client/.dart_tool
cine_pass_flutter/.dart_tool
